.sidebar{
    max-height: 100%;
    height: 100vh;
    background-color: #FFC3AC !important;
    position: fixed;
}

.li-spacing{
    padding-bottom: 8px;
}

.selected-btn{
    background-color: #FC8C77;
}

.sidebar-button{
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    color: black;
}

.sidebar-button:hover{
    background-color: #FC8C77;
}

a{
    text-decoration: none;
}

a:hover{
    color: black;
}

.btn-text{
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 7px 6px;
    display: block;
    font-family: 'Poppins', sans-serif;

}

.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 30px;
    color: #932442;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-top: 4px;
}

.icons{
    color: black;
    font-size: 19px;
    padding-right: 6px;
    padding-left: 6px; 
}


body{
    max-height: 100%;
}

/* Dropup Button */
.dropbtn {
    background-color: #FFC3AC;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    transition: 0.3s;
}

/* The container <div> - needed to position the dropup content */
.dropup {
    position: relative;
    display: inline-block;
    
}

/* Dropup content (Hidden by Default) */
.dropup-content {
    display: none;
    position: absolute;
    bottom: 44px;
    background-color: #E3E3E3;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
    background-color: #FC8C77;
    border-radius: 8px 8px 0px 0px;
    transition: 0.3s;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
    display: block;
}

.dropbtn .dropup-content:hover{
    transition: 2s;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
    background-color: #FC8C77;
    border-radius: 0px 0px 8px 8px;
    border-radius: 8px;
    transition: 0.3s;
}

.user:hover {
    border-radius: 0px 0px 8px 8px;
    background-color: #FC8C77;
    transition: 0.3s;
}

.content{
    margin-left: 280px;
    width: 100vw - 200px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #FAF9F6;
}

.home-title{
    padding-top: 15vh;
    margin-left: 6vw;
    padding-bottom: 3vh;
    font-size: 30px;
}

.generated-btn{
    margin-left: 6vw;
    margin-right: 35vw;
    background-color: #FFC3AC;
    margin-bottom: 75px;
    width: 190px;
}

.generated-btn:hover{
    background-color: #FC8C77;
}


.grid {
	display: grid;
    grid-template-columns: repeat(2, minmax(auto, auto));
    border: 2px #3b140d solid;
    max-width: 70vw;
	margin: 0 auto;
	border: none;
    align-items: center;
    justify-content: center;

}

.grid > div{
    border-bottom: 1px gray solid;
}

.grid > .feedback-btn{
    border-bottom: 1px gray solid;
}

.grid-template-columns-3 {
	grid-template-columns: 20fr 1fr;
}

/* Estilos Gerais */
.item {
	margin: 5px;
	text-align: center;
	font-size: 1.5em;
}

.icons{
    color: black;
    font-size: 19px;
    padding-right: 6px;
    padding-left: 6px; 
}

.icon-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-btn{
    all: unset;
    cursor: pointer;  
}

.generated-pickup{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 65vw;
}
.generated-pickup:hover{
    background-color: #e3e3e3;
    cursor: pointer;
    transition: 0.3s;
}
